In [1]:
# Importation des bibliothèques nécessaires
import duckdb
import pandas as pd

# Connexion à la base dans le dossier exploration
con = duckdb.connect("dev.duckdb")

In [2]:
# Vérification de la connexion en listant les tables existantes
con.execute("SHOW TABLES").fetchdf()

Empty DataFrame
Columns: [name]
Index: []

In [ ]:
# Vérification de la table ingérée
con.execute("SELECT * FROM dev.main.bronze_rei LIMIT 10").fetchdf()

In [ ]:
# Compte le nombre de lignes
con.execute("SELECT COUNT(*) FROM dev.main.bronze_rei").fetchall()

In [ ]:
# Affiche le type de colonnes
con.execute("DESCRIBE dev.main.bronze_rei").fetchdf()

In [ ]:
# Vérification du taux de valeurs manquantes
df = con.execute("SELECT * FROM dev.main.bronze_rei").fetchdf()
missing_rate = df.isna().mean() * 100
missing_rate